
:root {
  --primary: rgba(0, 0, 0, .2);
  --primary: rgba(255, 255, 255, .6);
  --headerText: rgba(255, 255, 255, .8);
  --headerText: rgba(0, 0, 0, .8);
  --sidebarColor: rgba(255, 255, 255, .2);
  --sidebarColor: rgba(255, 255, 255, 1);
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  }
}

body {
  background-color: #777;
  background-image: url('../public/backgrounds/2.jpg');
  background-image: url('../public/backgrounds/bg.webp');
  background-size: cover;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin: 0;
  box-sizing: border-box;
}


.chatbox {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#homepage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

#header {
  padding: 15px;
  padding-left: 30px;
  width: 100vw;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: hidden;
  background-color: white;
}


.footer {
  background-color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  overflow: hidden;
}

#mainArea {
  display: flex;
  /* float: left; */
  flex-grow: 1;

}

.logo {
  width: 48px;
  vertical-align: middle;
  margin: 0px 20px;
  margin-left: 30px;
  transition: all .2s;
}

.logo:hover {
  transform: scale(1.05);
}

.headerText {
  transition: all .2s;
  font-size: 17px;
  font-weight: bold;
  color: var(--headerText);
  display: inline-block;
}

.headerText:hover {
  font-size: 18.3px;
}

.sidebar {
  width: 130px;
  /* background-color: var(--primary); */
  flex-shrink: 0;
  float: left;
  overflow: hidden;
  height: auto;
}

.navmenu {
  position: fixed;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  left: 0;
  width: 80px;
  background-color: var(--sidebarColor);
  border-radius: 0 25px 25px 0;
  top: 50%;
  transform: translate(0, -50%);
}

.sidebarbutton {
  /* width: 50%; */
  /* margin: 20px; */
  padding: 0;
  margin: 7px 0;
  background-color: rgba(0, 0, 0, .4);
  background: linear-gradient(45deg, rgba(60, 0, 0, .6), rgba(60, 60, 100, .9));
  border-radius: 100px;
  outline: none;
  border: none;
  transition: all .5s;
}

.sidebarbutton:hover {
  background-color: #668;
  transform: scale(0.9);
}

.sidebaricon {
  width: 15px;
  margin: 15px;
}



.chatContainer {
  padding-top: 20px;
}

.chatbox {
  padding: 10px 20px;
  min-width: 70vw;
  /* background-color: #777; */
  overflow: hidden;
}

.chattext {
  background-color: rgba(255, 255, 255, 1);
  padding: 12px 25px;
  color: #000 ;
  margin: 5px 10px;
  font-size: 15px;
  border-radius: 8px;
  overflow: hidden;
}



.chatflex {
  align-items: center;
  transition: all .2s;
  display: flex;
}

.chatflex:hover {
  transform: scale(1.006);
}

.bsr {
  box-shadow: 4px 5px 7px 0px rgba(0, 0, 0, 0.3);
}

.bsl {
  box-shadow: -4px 5px 7px 0px rgba(0, 0, 0, 0.3);
}

.jcr {
  justify-content: right;
  margin-right: 10%;
}

.jcl {
  justify-content: left;
}

#textarea {
  width: 60%;
  padding: 15px 30px;
  margin: 20px 0;
  border: 0px;
  transition: all .2s;
  resize: none;
  background-color: #ddd;
  color: #333;
  font-size: 14px;
  border-radius: 10px;
  outline: none;
}

#textarea:hover {
  width: 61%;
  background-color: rgba(255, 255, 255, .9);
  border-radius: 10px;
  outline: none;
}

.chatImg {
  width: 30px;
  vertical-align: middle;
}

#sendImg {
  width: 40px;
  margin-left: 10px;
  transition: all .2s;
  opacity: .9;
  /* vertical-align: super; */
}

#sendImg:hover {
  opacity: .7;
  width: 43px;
}

#cleartext {
  width: 40px;
  vertical-align: super;
  opacity: 0;
}

.micimg {
  width: 40px;
  transition: all .2s;
}

.micimg:hover {
  width: 43px;
  opacity: .6;
}

.speakbtn {
  /* padding:20px;
  border-radius: 50%;
  outline: none;
  border: none; */
  /* background-color: #666; */
  align-items: center;
  display: flex;
  color: white;
  margin-right: 20px;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #686; */
  /* min-height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
}

.App-link {
  color: #61dafb;
}




/* Loading */
/* bodY {
  margin: 0;
  padding: 0;
} */
.loading {
  /* height: 100vh; */
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 20%;
  margin-top: 50px;
  animation: fadeInAnimation ease .5s;
  /* background: #000; */
}

.wave {
  width: 6px;
  height: 50px;
  background: linear-gradient(45deg, rgba(255, 255, 255, .6), rgba(100, 100, 255, .9));
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}

.wave:nth-child(2) {
  animation-delay: 0.1s;
}

.wave:nth-child(3) {
  animation-delay: 0.2s;
}

.wave:nth-child(4) {
  animation-delay: 0.3s;
}

.wave:nth-child(5) {
  animation-delay: 0.4s;
}

.wave:nth-child(6) {
  animation-delay: 0.5s;
}

.wave:nth-child(7) {
  animation-delay: 0.6s;
}

.wave:nth-child(8) {
  animation-delay: 0.7s;
}

.wave:nth-child(9) {
  animation-delay: 0.8s;
}

.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}





/* Bg */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: hidden;
  background: linear-gradient(315deg, rgba(100, 190, 100, 1) 3%,rgb(9, 121, 146) 58%, rgb(0, 0, 0) 98%);
  animation: gradient 25s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

.wave2 {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave2 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave2:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave2 18s linear reverse infinite;
  opacity: 0.8;
}

.wave2:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave2 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave2 {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}